.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 430px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 5em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  #pro_img{
    display: none;
  }
}


  @import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
  /* font-family: 'Amiri', serif; */

  @import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
  /*font-family: 'Droid Arabic Naskh', serif;*/

  @import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
  /* font-family: 'Lateef', serif; */

  @import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
  /*font-family: 'Scheherazade', serif;*/

  @import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
  /* font-family: 'Thabit', serif; */

  .title.arabic-text {
    font-size: 3.2rem;
    float: right;
  }

  .arabic-text {
    font-family: 'Amiri', serif;
    float: left;
  }

.work_title{
  font-size: 2.4rem;
}
.work_subtitle{
  font-size: 2.2rem;
}
.works_content{
  font-size: 1.3rem;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}


a.git_repo_link {
  color: #7c464a;
  font-size: 110%;
}

a.icon {
  color: #7c464a;
}


img.ui.fluid.image{
  margin-top: 0.2%;
  margin-right: 3.2%;
  display:inline;
  float:right;
  width: 40%;
  transform: skewX(-0deg);
}
