:root {
  --main-theme-color: #222f33;
  --link-color: #2665cb;
  --link-hover-color: #92b2e5;
  --background-color: #f7f7f7;
}


.topnav *{
  float: right;
}
.topnav{
  padding-right: 0%;
}

body{
  font-family: Georgia, Times, "Times New Roman";
  font-size: 12pt;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
}

.entry{
  padding-top: 15px;
  margin-right: 2%;
  margin-left: 2%;
}
.entry .header{
  font-size: 180%;
  padding-bottom: 10px;
}
.entry .body{
  float:left;
  width: 70%;
}
.entry .prof-img{
  width: 280px;
  padding: 10px;
  float: left;
  margin-right: 2%;
}

.boxes{
  margin-top: 0px;
  float:left;
  width: 100%;
  height: 220px;
  border-spacing: 30px 0px;
  border-collapse: separate;
}

.boxes .organizations-header div{
 height: 60px;
 width: 100%;
 font-size: 150%;
 background-color: #2F8A60;
 border-bottom: solid 10px #d5e7df;
 padding: 10px;
 color: var(--background-color);
 border-radius: 5px 45px 3px 3px;
}
.boxes .organizations{
  border: 0.5px gray solid;
  width: 30%;
  padding: 7px;
  height: inherit;
  background-color: #eaf3ef;
}
.boxes .organizations table{
  border-spacing: 15px 20px;
  border-collapse: separate;
}
.logo{
  float: left;
  width: 80px;
}

.boxes .report-header div{
 height: 60px;
 width: 100%;
 font-size: 150%;
 background-color: #8A2F59;
 border-bottom: solid 10px #e7d5dd;
 padding: 10px;
 color: var(--background-color);
 border-radius: 5px 45px 3px 3px;
}
.boxes .report{
  vertical-align: top;
  margin-left: 10px;
  width: 30%;
  height: inherit;
  background-color: #f3eaee;
}
.boxes td.report{
  border: 0.5px gray solid;
  padding-bottom: 10px;
}
.boxes .report div{
  width: 95%;
}
.boxes .report div .body{
  height: 200px;
}
.boxes .report div li{
  list-style: none;
}
.boxes .report div li::before {
  content: "\2022";
  color: #8A2F59;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}
.boxes .report div li#full_text:before {
  content: "\002B";
  color: var(--link-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}

.boxes .report div .header{
  font-size: 160%;
  padding-bottom: 15px;
}
.boxes .report div .body{
  font-size: 85%;
  overflow: auto;
  min-height: 280px;
}
.boxes .report div .body .item_title{
  text-align: right;
  width: 100%;
  border-bottom: 0.4pt solid;
  margin-bottom: 5px;
}
.boxes .report div .body .item_content{
  margin-bottom: 10px;
  margin-left: 10px;
}
.boxes .report div .body .item_content #full_text{
  text-align: left;
}

.boxes .contacts{
  vertical-align: top;
  width: 20%;
  height: inherit;
  text-align:left;
}
.boxes .contacts div{
   height: 45px;
   width: 100%;
   font-size: 130%;
   background-color: #4d535c;
   border-bottom: solid 10px #b7babd;
   padding: 5px;
   color: var(--background-color);
   border-radius: 3px 3px 45px 3px;
}

.prof-img{
  float: right;
}


a{
  color: var(--link-color);
}
a:hover{
  color: var(--link-hover-color);
}

#footer{
   background-color: var(--main-theme-color);
   background-color: var(--background-color);
}
#footer *{
   opacity: 0.9;
   color: black;
}
#footer div a{
   opacity: 0.6;
   color: black;
}
#footer div a:hover{
   opacity: 1;
}
#prof_logo{
  opacity: 0.7;
  text-align: center;
  float: left;
}
#footer a{
   color: var(--link-color);
}
#aboutme_section{
  background-color: var(--main-theme-color);
}
#aboutme_section_header{
  border: solid 5px;
  color: var(--main-theme-color);
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -40px;
  font-size: 25pt;
  background-color: var(--background-color);
  width: fit-content;
  padding: 12px;
  height: fit-content;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
#aboutme_section_content{
  border-top: solid 8px;
  border-radius: 1px 5px;
  margin-left: 10%;
  padding-top: 5%;
  color: white;
  width: 80%;
  font-size: 13pt;
}
#aboutme_section_content #profile_img{
  width: 300px;
  float: right;
  border: 3px solid;
}
#aboutme_section_contacts{
  float: right;
  width: 260px;
  text-align: center;
  font-size: 12pt;
  vertical-align: bottom;
  background-color: var(--background-color);
  padding: 7px;
  padding-left: 25px;
}
#aboutme_section_contacts a{
  color: var(--main-theme-color);
  opacity: 0.7;
}
#aboutme_section_contacts a:hover{
  border-bottom: none;
  opacity: 1;
}
#aboutme_section .footer{
  margin-top: 20px;
  color: white;
}
#aboutme_section_extra{
  padding-left: 10%;
  margin-bottom: 50px;
}
#aboutme_section_extra .item_link + .item_link{
  margin-left: 20px;
}
.item_link .cv_document{
  background-image: url("../../src/img/path.svg");
  background-repeat:no-repeat;
  background-size:cover;
}

.sliders{
  width: 100px;
}
#aboutme_section .footer #pre_sliders{
  margin-left: 10%;
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  display: inline-block;
  z-index: 1;
}
#filter_sections_menu{
  font-size: 22pt;
  padding-left: 10%;
  height: fit-content;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 0px 0px 15px 0px;
  position: absolute;
  background-color: var(--main-theme-color);
  z-index: 100;
}
#filter_sections_menu a + .decoration.point{
  margin-left: 20px;
}
.decoration.point{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color:white;
  margin-right: 20px;
}
#aboutme_section .footer #sliders{
  display: inline-block;
}
#aboutme_section .footer #sliders .slider-filter div{
  margin-left: 5px;
  display:inline-block;
}
#aboutme_section .footer #sliders .slider-filter .input-slider{
 width: 470px;
}
#aboutme_section .footer #sliders .slider-filter .input-label{
 font-size: 17pt;
 width: 1%;
 display: none;
}
.slider-filter + .slider-filter{
  margin-top: 15px;
}
#pre_filter_menu{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  margin-left: 50px;
  background-color: white;
}

.rs-container{
  width: 100%;
}
.rs-tooltip{
  border: none;
  font-size: 15pt;
  float: left;
  color: var(--link-color);
  min-width: 200px;
  background-color: transparent;
}
.rs-container .rs-bg,.rs-container .rs-selecte{
  background-color:white;
}
.rs-container .rs-selected{
  background-color:white;
  border: none;
}
.rs-container .rs-pointer{
  background-color:var(--link-color);
  border:none;
}
.rs-container .rs-scale span ins{
  color: white;
  font-size: 10pt;
  opacity: 0.4;
  display: none;
}


.section-separator{
 height: 10px;
 opacity: 0.6;
 width: 100%;
 background-color: var(--main-theme-color);
 position: relative;
 bottom: 50px;
 z-index: -1;
 border-radius: 10px 10px 10px 10px;
}

#sections{
  padding-bottom: 60px;
  padding-top: 60px;
}
#sections .sec-item{
 padding-left: 20px;
}

.publications .sec-item + .sec-item{
 margin-top: 30px;
}
.publications .sec-item .title{
  font-size: 15pt;
}

.activities .sec-item + .sec-item{
 margin-top: 40px;
}

.projects .sec-item + .sec-item{
  margin-top: 65px;
}

#sections a{
  opacity: 0.6;
  color: var(--main-theme-color);
}
#sections a + a{
 margin-left: 40px;
}
#sections a:hover{
  opacity: 1.2;
  padding-bottom: 10px;
}
#sections{
  padding-left: 10%;
  padding-right: 10%;
}

#sections .gen-sec{
  margin-top: 40px;
}
.extra{
  margin-top: 20px;
}

#sections .gen-sec .sec-header{
  font-size: 22pt;
  margin-bottom: 15px;
  color: white;
  border: solid;
  width: fit-content;
  padding: 13px;
  background-color: var(--main-theme-color);
  border-radius: 15px 15px 15px 15px;
  z-index: 700;
  opacity: 1;
}

.section_label{
  display: inline-block;
}

.section_item + .section_item{
  margin-top: 5%;
}
.sec-item .title{
  font-size: 16pt;
}
.sec-item .subtitle{
  font-size: 16pt;
  opacity: 0.8;
}
.sec-item .content{
  margin-top: 5px;
  font-size: 12pt;
}

.publication .sec-item .title{
  font-size: 14pt;
}


@media only screen and (max-width: 1200px) {
  #aboutme_section_contacts{
    margin: 0 auto;
  }
  #filter_sections_menu{
    padding-left: 7%;
  }
  #aboutme_section .footer {
    width: 100%;
  }
  #aboutme_section_extra{
    margin-bottom: 50px;
    display: table;
  }
  #aboutme_section_extra .item_link {
    display: table-row;
    height: 40px;
  }
  #filter_sections_menu{
    font-size: 20pt;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }
  .rs-container{
    width: 100%;
  }

  .sec-item .extra div .item_link {
    display: table-row;
    height: 35px;
  }

}

@media only screen and (max-width: 700px) {
  #entry .entry-body{
    margin-bottom:10%;
    width: 100%;
  }
  #aboutme_section_content{
    padding-top: 10%;
  }
  #filter_sections_menu{
    display: none;
  }
  .slider-filter{
    display: none;
  }
  #filter_preview{
    display: none;
  }
  #sections{
    padding-left: 2%;
    padding-right: 2%;
  }

  #aboutme_section .footer{
    max-height: 200px;
    color: white;
  }
  #aboutme_section_extra .item_link {
    display: table-row;
    height: 40px;
  }

  #footer *{
    text-align: center;
  }
  #prof_logo{
    position: absolute;
    opacity: 0.3;
    top: -5.5%;
    right: 37%;
  }
  #prof_logo img{
    width: 110px;
  }
  #entry{
    padding-right: 10%;
    padding-left: 10%;
  }
  #dynamic_section{
    display: block;
  }
  #entry .entry-window{
    margin:0 auto;
    width: 100%;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 650px) {
  #entry .entry-header{
    width: 100%;
    margin-bottom: 30px;
  }
  #aboutme_section_header{
    width: 80%;
    margin-bottom: 20px;
  }
  #aboutme_section_contacts{
    width: 100%;
  }
  #aboutme_section_content #profile_img{
    float: none;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
  }
}
