.entry{
  padding-top: 15px;
  margin-right: 2%;
  margin-left: 2%;
}
.entry p{
  margin-bottom: 5px;
}
.entry .header{
  font-size: 180%;
  float: right;
  padding-bottom: 10px;
  width: 70%;
}
.entry .body{
  float: right;
  width: 70%;
}

.contacts-col{
  vertical-align: top;
  width: 28%;
  float:left;
}
.contacts-col .prof-img{
  margin: 0 auto;
  padding: 10px;
  max-width: 250px;
}
.contacts-header{
   height: 45px;
   width: 100%;
   font-size: 130%;
   background-color: #4d535c;
   border-bottom: solid 10px #b7babd;
   padding: 5px;
   color: var(--background-color);
   border-radius: 3px 3px 45px 3px;
   margin-bottom: 20px;
   margin-top: 20px;
}
.contacts{
  vertical-align: top;
  height: inherit;
  text-align:left;
}
.contacts .item{
  padding-bottom: 8px;
  font-size: 12pt;
}



.organizations-col{
  margin-top: 20px;
  margin-left: 2%;
  display: inline-block;
  width: 30%;
  height: fit-content;
}
.organizations-header{
   font-size: 12pt;
   height: 60px;
   font-size: 150%;
   background-color: #2F8A60;
   border-bottom: solid 10px #d5e7df;
   padding: 10px;
   color: var(--background-color);
   border-radius: 5px 45px 0px 0px;
}
.organizations{
  font-size: 10pt;
  border: 0.5px gray solid;
  background-color: #eaf3ef;
  border-spacing: 8px 15px;
  height: fit-content;
}
.organizations .item{
  display: table-row;
}
.organizations .item .logo{
  margin-right: 10px;
  float: left;
  width: 80px;
}


.report-col{
  margin-top: 20px;
  width: 35%;
  vertical-align: top;
  display: inline-block;
  margin-left: 2%;
  height: fit-content;
}
.report-header{
 height: 60px;
 font-size: 150%;
 background-color: #D05959;
 border-bottom: solid 10px #e7d5dd;
 padding: 10px;
 color: var(--background-color);
 border-radius: 5px 45px 0px 0px;
}
.report{
  background-color: #f3eaee;
  border: 0.5px gray solid;
  padding: 10px;
  height: 300px;
}

#dynamic_section li{
  list-style: none;
}
#dynamic_section li::before {
  content: "\2022";
  color: #8A2F59;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}
#dynamic_section li#full_text:before {
  content: "\002B";
  color: var(--link-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -0.5em;
}

#dynamic_section .header{
  font-size: 160%;
  padding-bottom: 15px;
}
#dynamic_section .body{
  font-size: 85%;
  overflow: auto;
  max-height: 250px;
  min-height: 250px;
}
#dynamic_section .body .item_title{
  text-align: right;
  width: 100%;
  border-bottom: 0.4pt solid;
  margin-bottom: 5px;
}
#dynamic_section .body .item_content{
  margin-bottom: 10px;
  margin-left: 10px;
}
#dynamic_section .item_content #full_text{
  text-align: left;
}

@media only screen and (max-width: 1200px) {

  .organizations-col{
    width:70%;
    float:right;
  }
  .organizations{
    width: 100%;
    padding: 10px;
    border-spacing: 5px 5px;
  }

  .logo{
    width: 60px;
  }
  .report-col{
    width:70%;
    margin-left: 30%;
  }

  .contacts .item{
    padding-bottom: 8px;
    font-size: 10pt;
  }
  .contacts-col .prof-img{
    margin: 0 auto;
    padding: 10px;
    max-width: 200px;
  }
}


@media only screen and (max-width: 820px) {
  .entry .body{
    width: 100%;
  }
  .entry .header{
    width: 100%;
  }
  .organizations-col{
    width:100%;
  }
  .report-col{
    margin-left: 0%;
    width:100%;
  }

  .contacts-col {
    width: 100%;
  }
  .prof-img{
    float:left;
    width: 50%;
  }
  .contacts-header{
    display: none;
  }
  .contacts{
    margin-top: 7%;
    margin-left: 5%;
    width: 45%;
    display: inline-block;
  }
  .contacts .item{
    display: inline-block;
  }
  .contacts .item .after-logo{
    display: none;
  }
  .contacts .item .icon{
    font-size: 350%;
    display: inline-block;
  }

}
