:root {
  --main-theme-color: #222f33;
  --link-color: #68cae8;
  --link-hover-color: #96e3fa;
  --background-color: #f7f7f7;
}
body{
    font-family: "Georgia", Times, Sans-serif;
    font-size: 110%;
}

a{
  color: var(--link-color);
}
a:hover{
  color: var(--link-hover-color);
}

#page_footer{
   background-color: var(--main-theme-color);
   background-color: var(--background-color);
}
#page_footer *{
   opacity: 0.9;
   color: black;
}
#page_footer div a{
   opacity: 0.6;
   color: black;
}
#page_footer div a:hover{
   opacity: 1;
}
#prof_logo{
  opacity: 0.7;
  text-align: center;
  float: left;
}
#page_footer a{
   color: var(--link-color);
}

#entry{
  background-color: var(--main-theme-color);
  margin-bottom: 0%;
  padding-top: 30px;
  padding-bottom: 5%;
  padding-left: 10%;
  border-radius: 0px 0px 0px 0px;
}
#entry .entry-header{
  margin-top:2%;
  width: 60%;
  color: white;
  font-size: 32pt;
}
#entry .entry-body{
  margin-top:2%;
  width: 50%;
  color: white;
  font-size: 15pt;
  display: inline-block;
}
#entry .entry-window{
  display: inline-block;
  width : 35%;
  height: 300px;
  margin-right: 10%;
  color: var(--main-theme-color);
  float: right;
  border-radius: 15px 15px 15px 15px;
  background-color: var(--background-color);
}
#entry .entry-window .header{
  text-align: center;
  margin-top: 20px;
  font-size: 20pt;
  background-color: var(--main-theme-color);
  color: white;
  padding: 10px;
}
#entry .entry-window .body{
  padding-left: 10px;
  width: 90%;
  overflow:auto;
  height: 200px;
}
#entry .entry-window .body a{
  color: var(--main-theme-color);
  opacity: 0.55;
}
#entry .entry-window .body a:hover{
  opacity: 1;
}
#entry .entry-window .body .item_title{
  font-size: 15pt;
  padding-top: 10px;
  padding-bottom: 5px;
  opacity: 0.75;
}
#entry .entry-window .body .item_content{
  padding-left: 30px;
  margin-bottom: 35px;
  font-size: 13pt;
}
#entry .entry-window .body .item_content #full_text{
  margin-top:5px;
  float:right;
}
#entry .entry-window .body .item_content + .item_title{
  border-top: 0.3px solid;
}

#aboutme_section{
  background-color: var(--main-theme-color);
}
#aboutme_section_header{
  border: solid 5px;
  color: var(--main-theme-color);
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -40px;
  font-size: 25pt;
  background-color: var(--background-color);
  width: fit-content;
  padding: 12px;
  height: fit-content;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
#aboutme_section_content{
  border-top: solid 8px;
  margin-left: 10%;
  padding-top: 5%;
  color: white;
  width: 80%;
  font-size: 13pt;
}
#aboutme_section_content #profile_img{
  width: 300px;
  float: right;
  border: 3px solid;
}
#aboutme_section_contacts{
  float: right;
  width: 260px;
  text-align: center;
  font-size: 12pt;
  vertical-align: bottom;
  background-color: var(--background-color);
  padding: 7px;
  padding-left: 25px;
}
#aboutme_section_contacts a{
  color: var(--main-theme-color);
  opacity: 0.7;
}
#aboutme_section_contacts a:hover{
  border-bottom: none;
  opacity: 1;
}
#aboutme_section .footer{
  margin-top: 20px;
  color: white;
}
#aboutme_section_extra{
  padding-left: 10%;
  margin-bottom: 50px;
}
#aboutme_section_extra .item_link + .item_link{
  margin-left: 20px;
}
.item_link .cv_document{
  background-image: url("../../src/img/path.svg");
  background-repeat:no-repeat;
  background-size:cover;
}

.sliders{
  width: 100px;
}
#aboutme_section .footer #pre_sliders{
  margin-left: 10%;
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  display: inline-block;
  z-index: 1;
}
#filter_sections_menu{
  font-size: 22pt;
  padding-left: 10%;
  height: fit-content;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 0px 0px 15px 0px;
  position: absolute;
  background-color: var(--main-theme-color);
  z-index: 100;
}
#filter_sections_menu a + .decoration.point{
  margin-left: 20px;
}
.decoration.point{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color:white;
  margin-right: 20px;
}
#aboutme_section .footer #sliders{
  display: inline-block;
}
#aboutme_section .footer #sliders .slider-filter div{
  margin-left: 5px;
  display:inline-block;
}
#aboutme_section .footer #sliders .slider-filter .input-slider{
 width: 470px;
}
#aboutme_section .footer #sliders .slider-filter .input-label{
 font-size: 17pt;
 width: 1%;
 display: none;
}
.slider-filter + .slider-filter{
  margin-top: 15px;
}
#pre_filter_menu{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  margin-left: 50px;
  background-color: white;
}

.rs-container{
  width: 100%;
}
.rs-tooltip{
  border: none;
  font-size: 15pt;
  float: left;
  color: var(--link-color);
  min-width: 200px;
  background-color: transparent;
}
.rs-container .rs-bg,.rs-container .rs-selecte{
  background-color:white;
}
.rs-container .rs-selected{
  background-color:white;
  border: none;
}
.rs-container .rs-pointer{
  background-color:var(--link-color);
  border:none;
}
.rs-container .rs-scale span ins{
  color: white;
  font-size: 10pt;
  opacity: 0.4;
  display: none;
}


.section-separator{
 height: 10px;
 opacity: 0.6;
 width: 100%;
 background-color: var(--main-theme-color);
 position: relative;
 bottom: 50px;
 z-index: -1;
}

#sections{
  padding-bottom: 60px;
  padding-top: 60px;
}
#sections .sec-item{
 padding-left: 20px;
}

.publications .sec-item + .sec-item{
 margin-top: 30px;
}
.publications .sec-item .title{
  font-size: 15pt;
}

.activities .sec-item + .sec-item{
 margin-top: 40px;
}

.projects .sec-item + .sec-item{
  margin-top: 65px;
}

#sections a{
  opacity: 0.6;
  color: var(--main-theme-color);
}
#sections a + a{
 margin-left: 40px;
}
#sections a:hover{
  opacity: 1.2;
  padding-bottom: 10px;
}
#sections{
  padding-left: 10%;
  padding-right: 10%;
}

#sections .gen-sec{
  margin-top: 40px;
}
.extra{
  margin-top: 20px;
}

#sections .gen-sec .sec-header{
  font-size: 22pt;
  margin-bottom: 15px;
  color: white;
  border: solid;
  width: fit-content;
  padding: 13px;
  background-color: var(--main-theme-color);
  border-radius: 15px 15px 15px 15px;
  z-index: 700;
  opacity: 1;
}

.section_label{
  display: inline-block;
}

.section_item + .section_item{
  margin-top: 5%;
}
.sec-item .title{
  font-size: 16pt;
}
.sec-item .subtitle{
  font-size: 16pt;
  opacity: 0.8;
}
.sec-item .content{
  margin-top: 5px;
  font-size: 12pt;
}

.publication .sec-item .title{
  font-size: 14pt;
}


@media only screen and (max-width: 1200px) {
  #aboutme_section_contacts{
    margin: 0 auto;
  }
  #filter_sections_menu{
    padding-left: 7%;
  }
  #aboutme_section .footer {
    width: 100%;
  }
  #aboutme_section_extra{
    margin-bottom: 50px;
    display: table;
  }
  #aboutme_section_extra .item_link {
    display: table-row;
    height: 40px;
  }
  #filter_sections_menu{
    font-size: 20pt;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }
  .rs-container{
    width: 100%;
  }

  .sec-item .extra div .item_link {
    display: table-row;
    height: 35px;
  }

}

@media only screen and (max-width: 700px) {
  #entry .entry-body{
    margin-bottom:10%;
    width: 100%;
  }
  #aboutme_section_content{
    padding-top: 10%;
  }
  #filter_sections_menu{
    display: none;
  }
  .slider-filter{
    display: none;
  }
  #filter_preview{
    display: none;
  }
  #sections{
    padding-left: 2%;
    padding-right: 2%;
  }

  #aboutme_section .footer{
    max-height: 200px;
    color: white;
  }
  #aboutme_section_extra .item_link {
    display: table-row;
    height: 40px;
  }

  #page_footer *{
    text-align: center;
  }
  #prof_logo{
    position: absolute;
    opacity: 0.3;
    top: -5.5%;
    right: 37%;
  }
  #prof_logo img{
    width: 110px;
  }
  #entry{
    padding-right: 10%;
    padding-left: 10%;
  }
  #dynamic_section{
    display: block;
  }
  #entry .entry-window{
    margin:0 auto;
    width: 100%;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 650px) {
  #entry .entry-header{
    width: 100%;
    margin-bottom: 30px;
  }
  #aboutme_section_header{
    width: 80%;
    margin-bottom: 20px;
  }
  #aboutme_section_contacts{
    width: 100%;
  }
  #aboutme_section_content #profile_img{
    float: none;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
  }
}
