<!-- This CSS files of this layout-->
<link rel="stylesheet" type="text/css" href="../css/home.css">
<!-- This JS files of this layout-->

<div class="entry">
          <img class="prof-img ui circular image img-thumbnail bordered" src="https://ivanhb.github.io/data/img/prof.jpg">
          <div class="header">Ivan Heibi's website</div>
          <div class="body">
          <p>This is Ivan Heibi’s website, Ivan is currently a Phd student at the Digital Humanities Advanced Research Centre (DHARC), Department of Classical Philology and Italian Studies.
          Here you can find all you need regarding his past, present, and future works. On the first “About me” section you can read more about Ivan's’ biography.
          This page lists all the projects, activities, and publications made. You can try filter these sections and visualize the information you want. For any further information, don’t hesitate to contact him through any of his social media accounts.
          </p>
          </div>
        </div>
<table class="boxes">
          <tr>
            <td class="contacts-header"><div></div></td>
            <td class="organizations-header"><div>Organizations</div></td>
            <td class="report-header"><div>Last progresses</div></td>
          </tr>
          <tr>
              <td class="contacts"><div>Contacts</div></td>
              <td class="organizations">
                <table>
                  <tr>
                    <td><img class="logo" src="/Users/ivan.heibi/ivanhb.github.io/data/img/oc_logo.png"></td>
                    <td>Started in November 2017, and still an active member/researcher in the <a href="http://opencitations.net/">OpenCitaions organization</a></td>
                  </tr>
                  <tr>
                    <td><img class="logo" src="/Users/ivan.heibi/ivanhb.github.io/data/img/dharc_logo.png"></td>
                    <td>I am a member of the <a href="https://centri.unibo.it/dharc/en">Digital Humanities Advanced Research Centre (DHARC)</a></td>
                  </tr>
                  <tr>
                    <td><img class="logo" src="/Users/ivan.heibi/ivanhb.github.io/data/img/unibo_logo.png"></td>
                    <td>A Ph.D. student in the <a href="http://www.ficlit.unibo.it/it">Department of Classical Philology and Italian Studies, University of Bologna</a></td>
                  </tr>
                </table>
              </td>

              <td id="dynamic_section" class="report"></td>
          </tr>
        </table>
